* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: $white;
}

.attribution {
    text-align: center;
    padding-top: 1rem;
    color: black;
    a {
        color: gray;
    }
}

