//Colors

//Primary
$introBackground: hsl(217, 28%, 15%);
$mainBackground: hsl(218, 28%, 13%);
$footerBackground: hsl(216, 53%, 9%);
$testimonialsBackground: hsl(219, 30%, 18%);

//Accent
$gradient: linear-gradient(to right, hsl(176, 68%, 64%),  hsl(198, 60%, 50%));
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);

//Neutral

$white: hsl(0, 0%, 100%);

//font

$relaway: 'Raleway', sans-serif;