@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
}

.attribution {
  text-align: center;
  padding-top: 1rem;
  color: black;
}

.attribution a {
  color: gray;
}

.nav {
  background: #1c2431;
  width: 26.7857rem;
  height: 3.4284rem;
  padding: 1.7142rem 1.7142rem 0 1.4285rem;
}

@media only screen and (min-width: 1440px) {
  .nav {
    width: 102.8571rem;
    height: 10rem;
    padding: 5.3rem 1.7142rem 0 5.7285rem;
  }
}

.nav img {
  height: 1.6842rem;
}

@media only screen and (min-width: 1440px) {
  .nav img {
    height: 3.6842rem;
  }
}

.nav ul {
  float: right;
  text-decoration: none;
}

@media only screen and (min-width: 1440px) {
  .nav ul {
    margin-top: 1.1rem;
    margin-right: 4rem;
  }
}

.nav li {
  display: inline-block;
  margin-left: 1.75rem;
}

@media only screen and (min-width: 1440px) {
  .nav li {
    margin-left: 3.83rem;
    letter-spacing: 1.05px;
  }
}

.nav li a {
  color: white;
  font-size: 0.8071rem;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

@media only screen and (min-width: 1440px) {
  .nav li a {
    font-size: 1rem;
  }
}

.nav li a:hover {
  text-decoration: underline;
  font-weight: 700;
}

.hero {
  background: #1c2431;
  width: 26.7857rem;
  height: auto;
  padding-top: 4rem;
}

@media only screen and (min-width: 1440px) {
  .hero {
    width: 102.8571rem;
    height: auto;
  }
}

.hero__img {
  display: block;
  margin: auto;
  width: 21.7142rem;
  position: relative;
  z-index: 1;
  top: -0.5rem;
}

@media only screen and (min-width: 1440px) {
  .hero__img {
    width: 51.5rem;
    top: 0.2rem;
  }
}

.hero__curve {
  margin-top: -3.5rem;
}

.hero__curve-mobile {
  display: block;
}

@media only screen and (min-width: 1440px) {
  .hero__curve-mobile {
    display: none;
  }
}

.hero__curve-desktop {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .hero__curve-desktop {
    display: block;
    margin-top: 8.3rem;
  }
}

.hero__bg {
  height: 15.8571rem;
  background: #181f2a;
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 1440px) {
  .hero__bg {
    height: 1px;
  }
}

.hero__bg h1 {
  position: relative;
  top: -4.7rem;
  line-height: 2.45rem;
  font-size: 1.7142rem;
  font-family: "Raleway", sans-serif;
  width: 22rem;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 1440px) {
  .hero__bg h1 {
    top: -37.6rem;
    font-size: 2.7142rem;
    width: 55rem;
    line-height: 4.4rem;
    letter-spacing: 1px;
  }
}

.hero__text {
  position: relative;
  top: -3.25rem;
  font-weight: 300;
  line-height: 1.5rem;
  width: 21rem;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 1440px) {
  .hero__text {
    top: -35.5rem;
    font-size: 1.4142rem;
    width: 45rem;
    line-height: 2.2rem;
    letter-spacing: 0.1px;
  }
}

.hero__btn {
  position: relative;
  top: -1rem;
  width: 17.1428rem;
  height: 3.4285rem;
  border-radius: 1.7142rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: 0;
}

@media only screen and (min-width: 1440px) {
  .hero__btn {
    top: -33.5rem;
    width: 20rem;
    height: 4rem;
    letter-spacing: 1px;
  }
}

.hero__btn:hover {
  background: #65e2d9;
}

.reasons {
  padding: 9.2rem 2.1428rem 0 2.1428rem;
  background: #181f2a;
  width: 26.7857rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 1440px) {
  .reasons {
    width: 102.8571rem;
    margin-top: -1.8rem;
    padding: 0 0 0 14.1428rem;
    z-index: 4;
  }
}

.reasons__card {
  text-align: center;
  padding-bottom: 6.2857rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media only screen and (min-width: 1440px) {
  .reasons__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.4%;
            flex: 0 0 41.4%;
  }
  .reasons__card-four {
    margin-left: 0.66rem;
  }
}

.reasons__header {
  padding-top: 2.25rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.3214rem;
}

@media only screen and (min-width: 1440px) {
  .reasons__header {
    margin-left: 0rem;
    letter-spacing: 0.6px;
  }
  .reasons__header-three {
    margin-top: -0.2rem;
    margin-left: 0.9rem;
  }
}

.reasons__img {
  height: 4.2rem;
}

@media only screen and (min-width: 1440px) {
  .reasons__img {
    height: 5.6rem;
    margin-bottom: -0.4rem;
  }
}

.reasons__img-two {
  height: 4.8rem;
  margin-bottom: -0.5rem;
}

@media only screen and (min-width: 1440px) {
  .reasons__img-two {
    height: 6rem;
    margin-top: -0.2rem;
  }
}

.reasons__img-three {
  height: 4.2rem;
}

@media only screen and (min-width: 1440px) {
  .reasons__img-three {
    height: 5.2rem;
    margin-left: 1rem;
    margin-top: 0.35rem;
  }
}

.reasons__img-four {
  margin-top: 0.4rem;
  height: 3.6rem;
  margin-bottom: 0.4rem;
}

@media only screen and (min-width: 1440px) {
  .reasons__img-four {
    height: 4.6rem;
    margin-top: 0.6rem;
    margin-bottom: 0.15rem;
  }
}

.reasons__text {
  padding-top: 0.75rem;
  line-height: 1.5rem;
  width: 22.7857rem;
}

@media only screen and (min-width: 1440px) {
  .reasons__text {
    padding-top: 0.71rem;
    width: 25rem;
    margin-left: 5.72rem;
  }
  .reasons__text-two {
    margin-top: -0.1rem;
    width: 28rem;
    margin-left: 4.22rem;
  }
  .reasons__text-three {
    width: 26rem;
  }
}

.offer {
  padding: 5.2857rem 2.1428rem 0 2.1428rem;
  width: 26.7857rem;
  background: #181f2a;
}

@media only screen and (min-width: 1440px) {
  .offer {
    padding: 5.2857rem 2.1428rem 0 2.1428rem;
    width: 102.8571rem;
  }
}

.offer__hero {
  width: 21.8571rem;
  margin-left: 0.4rem;
  margin-top: -0.3rem;
}

@media only screen and (min-width: 1440px) {
  .offer__hero {
    display: inline-block;
    margin-left: 5.3rem;
    margin-top: -2rem;
    width: 43.9rem;
  }
}

@media only screen and (min-width: 1440px) {
  .offer__info {
    display: inline-block;
    margin-left: 3.9rem;
  }
}

.offer h2 {
  text-align: center;
  padding-top: 3.2rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.29rem;
  margin-left: -1.5rem;
}

@media only screen and (min-width: 1440px) {
  .offer h2 {
    text-align: left;
    font-size: 2.85rem;
    position: relative;
    top: -6.6rem;
    width: 28rem;
    padding-top: 0rem;
    margin-left: 0rem;
    line-height: 3.5rem;
  }
}

.offer__text {
  padding-top: 1.3rem;
  line-height: 1.45rem;
  width: 23rem;
  font-size: 0.99rem;
}

@media only screen and (min-width: 1440px) {
  .offer__text {
    position: relative;
    top: -6.4rem;
    width: 40rem;
    font-size: 1.1rem;
    line-height: 1.65rem;
    letter-spacing: 0.25px;
  }
}

.offer a {
  text-decoration: none;
  padding-bottom: 0.25rem;
  color: #65e2d9;
  font-size: 0.9rem;
  border-bottom: solid 1px #65e2d9;
}

@media only screen and (min-width: 1440px) {
  .offer a {
    position: relative;
    top: -5.7rem;
    font-size: 1.1rem;
    padding-bottom: 0.4rem;
    letter-spacing: 0.2px;
  }
}

.offer a:hover {
  color: white;
  border-bottom: solid 1px white;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.offer__arrow {
  position: relative;
  top: 0.25rem;
  left: 0.25rem;
  padding-top: 1rem;
}

@media only screen and (min-width: 1440px) {
  .offer__arrow {
    left: 0.5rem;
  }
}

.testamony {
  padding: 11.3285rem 3.4285rem 0 3.4285rem;
  background: #181f2a;
  width: 26.7857rem;
}

@media only screen and (min-width: 1440px) {
  .testamony {
    padding: 9.8285rem 3.4285rem 0 10rem;
    width: 102.8571rem;
  }
}

.testamony img {
  position: relative;
  left: 0.4rem;
  width: 1.5714rem;
}

@media only screen and (min-width: 1440px) {
  .testamony img {
    width: 3.8571rem;
    left: -0.5rem;
  }
}

.testamony__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 1440px) {
  .testamony__wrapper {
    margin-top: -1rem;
  }
}

.testamony__card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: #202a3c;
  margin-bottom: 1.7142rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media only screen and (min-width: 1440px) {
  .testamony__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25.7rem;
            flex: 0 0 25.7rem;
    margin-right: 2.8rem;
    padding: 2.9rem 2rem 1.6rem 1.95rem;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 8px 5px 0px 5px #1a212e;
    box-shadow: 8px 5px 0px 5px #1a212e;
  }
}

.testamony__card p {
  font-size: 0.701rem;
  line-height: 1.3rem;
}

@media only screen and (min-width: 1440px) {
  .testamony__card p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.45px;
  }
}

.testamony__signature {
  padding-top: 1rem;
}

.testamony__signature img {
  margin-left: -0.5rem;
  display: inline-block;
  width: 1.7857rem;
  border-radius: 50%;
}

@media only screen and (min-width: 1440px) {
  .testamony__signature img {
    margin-top: 0.8rem;
    margin-left: 0.4rem;
  }
}

.testamony__signature div {
  position: relative;
  top: -0.15rem;
  padding-left: 0.75rem;
  display: inline-block;
}

@media only screen and (min-width: 1440px) {
  .testamony__signature div {
    margin-left: -1rem;
  }
}

.testamony__signature div h3 {
  margin-top: 0.3rem;
  font-size: 0.7142rem;
  padding-bottom: 0.1rem;
  letter-spacing: 0.3px;
}

@media only screen and (min-width: 1440px) {
  .testamony__signature div h3 {
    letter-spacing: 0.5px;
    padding-bottom: 0.25rem;
  }
}

.testamony__signature div h4 {
  font-size: 0.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

@media only screen and (min-width: 1440px) {
  .testamony__signature div h4 {
    font-size: 0.5rem;
  }
}

.access {
  padding: 9.7143rem 1.6285rem 0 1.6285rem;
  background: #181f2a;
  width: 26.7857rem;
}

@media only screen and (min-width: 1440px) {
  .access {
    padding: 12.7857rem 20.5rem 0 20.5rem;
    width: 102.8571rem;
  }
}

.access__card {
  padding: 2.8142rem 3.1428rem 2.6428rem 3.1428rem;
  background: #1c2431;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 1440px) {
  .access__card {
    padding: 3.1857rem 2rem 0 2rem;
    -webkit-box-shadow: 5px 5px 10px 5px rgba(8, 16, 27, 0.5);
    box-shadow: 5px 5px 10px 5px rgba(8, 16, 27, 0.5);
  }
}

.access__card h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

@media only screen and (min-width: 1440px) {
  .access__card h2 {
    font-size: 2.3rem;
    margin-bottom: 1.7rem;
  }
}

.access__card p {
  text-align: center;
  font-size: 0.97rem;
  line-height: 1.5rem;
  margin-bottom: 2.2rem;
  letter-spacing: 0.1px;
  width: 20rem;
  margin-left: -1.3rem;
}

@media only screen and (min-width: 1440px) {
  .access__card p {
    margin-left: 5.5rem;
    font-size: 0.97rem;
    width: 47rem;
    letter-spacing: 0.2px;
    margin-bottom: 2.7rem;
  }
}

.access__card input {
  width: 20rem;
  height: 3.4285rem;
  border-radius: 1.7142rem;
  border: 0px;
  padding: 1rem 2rem 0.7rem 2rem;
  color: #949494;
  font-size: 0.7571rem;
  margin-bottom: 1.8rem;
  margin-left: -1.5rem;
}

@media only screen and (min-width: 1440px) {
  .access__card input {
    margin-left: 3.5rem;
    width: 34.5rem;
    margin-bottom: 3rem;
  }
}

.access__card button {
  width: 20rem;
  height: 3.4285rem;
  border-radius: 1.7142rem;
  border: 0px;
  padding: 1rem 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  font-size: 0.9571rem;
  font-weight: 700;
  margin-left: -1.3rem;
}

@media only screen and (min-width: 1440px) {
  .access__card button {
    margin-left: 1.85rem;
    width: 14.25rem;
    padding: 1rem 2rem;
  }
}

.access__card button:hover {
  background: #65e2d9;
}

.access__alert {
  color: #ff4242;
  font-size: 0.9rem;
  position: absolute;
  top: 17rem;
  left: 7.5rem;
}

.footer {
  background: #0b1523;
  width: 26.7857rem;
  height: auto;
  margin-top: -12.5714rem;
  padding: 17.8571rem 2rem 0 2rem;
}

@media only screen and (min-width: 1440px) {
  .footer {
    margin-top: -8rem;
    padding: 14rem 2.5rem 0 8rem;
    width: 102.8571rem;
    height: 36.5rem;
  }
}

.footer__logo {
  width: 12.6428rem;
  margin-left: 0.7857rem;
  margin-bottom: 2.4rem;
}

@media only screen and (min-width: 1440px) {
  .footer__logo {
    width: 12rem;
    margin-left: 0.7857rem;
    margin-bottom: 2.4rem;
  }
}

@media only screen and (min-width: 1440px) {
  .footer__partOne {
    position: relative;
    width: 40rem;
  }
}

@media only screen and (min-width: 1440px) {
  .footer__partTwo {
    position: relative;
    top: -6.3rem;
    left: 33.3rem;
    width: 40rem;
  }
}

.footer__marker-location {
  position: relative;
  top: -4.3rem;
}

@media only screen and (min-width: 1440px) {
  .footer__marker-location {
    top: -3rem;
    left: 0.7rem;
  }
}

.footer__marker-phone {
  position: relative;
  width: 0.9rem;
  left: 0.2rem;
}

@media only screen and (min-width: 1440px) {
  .footer__marker-phone {
    width: 1.3rem;
    left: 0.3rem;
    top: 0.2rem;
  }
}

.footer__marker-mail {
  position: relative;
  top: 0.3rem;
  left: 0.2rem;
}

@media only screen and (min-width: 1440px) {
  .footer__marker-mail {
    top: 0.3rem;
  }
}

.footer__location {
  display: inline-block;
  width: 19rem;
  margin-top: 0.2rem;
  margin-left: 1.7rem;
  margin-bottom: 1.1rem;
  font-size: 1.1rem;
  line-height: 1.55;
}

@media only screen and (min-width: 1440px) {
  .footer__location {
    margin-top: -0.2rem;
    margin-left: 2.3rem;
    font-size: 1.1rem;
    width: 25rem;
    letter-spacing: 0.3px;
  }
}

.footer__phone {
  display: inline-block;
  width: 19rem;
  margin-left: 1.6rem;
  margin-bottom: 1.1rem;
  font-size: 1rem;
  line-height: 1.55;
}

@media only screen and (min-width: 1440px) {
  .footer__phone {
    margin-left: 1.9rem;
    font-size: 1rem;
  }
}

.footer__mail {
  display: inline-block;
  width: 19rem;
  margin-top: 0.3rem;
  margin-left: 1.1rem;
  margin-bottom: 1.1rem;
  font-size: 1rem;
  line-height: 1.55;
}

@media only screen and (min-width: 1440px) {
  .footer__mail {
    margin-left: 1.7rem;
    margin-top: -0.1rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  .footer__about {
    position: relative;
    top: -16.4rem;
    left: 56rem;
    width: 10rem;
  }
}

@media only screen and (min-width: 1440px) {
  .footer__contact {
    position: relative;
    top: -29.3rem;
    left: 66.6rem;
    width: 10rem;
  }
}

.footer__nav {
  padding-top: 2.1rem;
  margin-left: -0.7rem;
}

@media only screen and (min-width: 1440px) {
  .footer__nav {
    height: 1px;
  }
}

.footer ul {
  list-style: none;
  margin: 2.1rem 0;
  font-size: 0.8571rem;
}

.footer li {
  padding: 0.69rem;
  letter-spacing: 1px;
  width: 8rem;
}

.footer li:hover {
  font-weight: 700;
  cursor: pointer;
}

.footer__media {
  display: block;
  margin: auto;
  margin-top: 4.8rem;
  width: 8rem;
  padding-bottom: 3rem;
}

@media only screen and (min-width: 1440px) {
  .footer__media {
    position: relative;
    top: -19.2rem;
    left: 39.5rem;
    width: 11rem;
  }
}

.footer__icon {
  font-size: 1.7rem;
  margin: 0.5rem;
}

@media only screen and (min-width: 1440px) {
  .footer__icon {
    font-size: 2.5rem;
    margin: 0.35rem;
    color: red;
  }
}

.footer__icon:hover {
  cursor: pointer;
  -webkit-filter: invert(65%) sepia(93%) saturate(173%) hue-rotate(127deg) brightness(250%) contrast(96%);
          filter: invert(65%) sepia(93%) saturate(173%) hue-rotate(127deg) brightness(250%) contrast(96%);
}
/*# sourceMappingURL=style.css.map */